



<section id="propos">
        <h1 class ="catégorie">{{TITRE_SECTION[0]}}</h1>
        
        
        <p>Je suis étudiant en 2ème année de BUT Informatique graphique au puy en velay.</p>




        <p>Depuis mon plus jeune âge j’ai eu une passion pour l’informatique et plus particulièrement la programmation.
         J’ai donc rejoint le BTS SIO pour faire de ma passion mon métier.</p>
 
        <p>Le portfolio est en cours de rénovation, car il était nativement réalisé pour le support de mon oral de BTS précédemment obtenu.</p>
    
        <p>Mon portfolio est hébergé sur les pages de GitHub</p>
        
        
    
</section>
