
<section id="propos">
        <h1 class ="catégorie">{{TITRE_SECTION[0]}}</h1>
        
        
        <p>Je suis étudiant en 2ème année de BTS SIO option SLAM au lycée général et technologique Albert Londres à Cusset.</p>

        <p>Depuis mon plus jeune âge j’ai eu une passion pour l’informatique et plus particulièrement la programmation.
         J’ai donc rejoint le BTS SIO pour faire de ma passion mon métier.</p>
 
        <p>En BTS SIO, il y a deux spécialités : le SISR (Administration des systèmes et des réseaux) et SLAM 
         (Solutions Logicielles et Applications Métiers).</p>
    
      
        <p>Le portfolio ne renseigne que les compétences B1, car ce sont les compétences exigées pour l'épreuve E4.
        </p>
        <p>Mon portfolio est hébergé sur les pages de framagit</p>
        
        
    
</section>