---
import Layout from '../layouts/Layout.astro';
import CompetencesSection from "../components/about/CompetencesSection.astro";
import AboutSection from "../components/about/AboutSection.astro";
import TimelineSection from "../components/about/TimelineSection.astro";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout pageTitle="A Propos">
  <nav class="about-navbar modern-navbar">
    <div class="about-navbar-inner">
      <a href="#infos" class="about-nav-link">Infos personnelles</a>
      <a href="#competences" class="about-nav-link">Compétences</a>
      <a href="#xp" class="about-nav-link">Expériences & Projets</a>
    </div>
  </nav>

  <AboutSection />
  <CompetencesSection />
  <TimelineSection />
</Layout>
