---
import Layout from '../layouts/Layout.astro';

const contactMd = await Astro.glob('../content/contact/*.md');
const contact = contactMd.length > 0 ? contactMd[0].frontmatter : {};
---

<Layout pageTitle="Me Contacter">
  <section class="contact-section">
  <h2 class="project-section-title">Contact</h2>

  <p class="contact-description">
    {contact.message} :
  </p>

  <div class="contact-items">
    <div class="contact-item">
      <span class="contact-label">Email</span>
      <a href={"mailto:"+ contact.email} class="contact-link">{contact.email}</a>
    </div>

    <div class="contact-item">
      <span class="contact-label">LinkedIn</span>
      <a href={contact.linkedin} class="contact-link" target="_blank" rel="noopener">
        {contact.linkedin}
      </a>
    </div>
  </div>
</section>

</Layout>
