---
import Layout from '../layouts/Layout.astro';

---

<Layout>
  <div class="container py-5">
    <section class="text-center">
      <h2 class="display-5 fw-bold">Compétences</h2>
      <div class="d-flex flex-wrap justify-content-center gap-3 mt-4">
        <span class="badge bg-primary fs-6">Dev Fullstack</span>
        <span class="badge bg-secondary fs-6">Frontend</span>
        <span class="badge bg-success fs-6">Backend</span>
        <!-- Ajoutez d'autres compétences ici -->
      </div>
    </section>
  </div>
</Layout>
