---
import VerticalNav from "../components/header.astro";
import Footer from "../components/footer.astro";
const { pageTitle = "" } = Astro.props;
const currentPath = Astro.url.pathname;

---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/styles/variables.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/contact.css">
    <link rel="stylesheet" href="/styles/about.css">
    <link rel="stylesheet" href="/styles/project.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/projet-cards.css">
    <link rel="stylesheet" href="/styles/project-detail.css">
    <link rel="stylesheet" href="/styles/numerique-responsable.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/index.css">
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle || "Portfolio"}</title>
  </head>
  <body>
      <VerticalNav active={currentPath} />
    <slot />
    <Footer />
  </body>
</html>
